{#
/**
 *  This file is part of FacturacionMexico plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% import 'Macro/Form.html.twig' as form %}

{% if appSettings.get('cfdi','testmode') %}
    <div class="alert alert-warning m-0 mb-3" role="alert">
        <strong><i class="fas fa-info-circle"></i> Modo prueba activado.</strong>
    </div>
{% endif %}

<div class="card mb-3">
    <div class="card-header">
        <a href="#cfdiCertificados"
           class="d-block text-decoration-none"
           data-bs-toggle="collapse"
           role="button"
           aria-expanded="false"
           aria-controls="cfdiCertificados">
            <i class="fas fw fa-certificate"></i> Certificado y llave privada
        </a>
    </div>

    <div id="cfdiCertificados" class="collapse">
        <div class="card-body">
            <div class="mb-3">
                {% set text = settings('cfdi', 'cerfile', 'Certificado') %}
                {{ form.inputfile('cerFile', 'cerfile', text, '.cer', text) }}
            </div>
            <div class="mb-3">
                {% set text = settings('cfdi', 'keyfile', 'Llave privada') %}
                {{ form.inputfile('keyFile', 'keyfile', text, '.pem') }}
            </div>
            <div class="mb-3">
                {% set text = settings('cfdi', 'passphrase', '') %}
                {{ form.inputpassword('certPassword', 'passphrase', 'Contraseña', text) }}
                <small class="form-text text-muted">Contraseña de la llave privada</small>
            </div>
            <p class="text-warning-emphasis">** La información del certificado y la llave privada solo se usará para el
                presente CFDI,
                no se almacenarán.</p>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">Confirmar información</div>
    <div class="card-body">
        <div class="mb-3">
            <div class="form-check">
                {% set disabled = (isGlobalInvoiceCustomer | default is same as(true)) ? '' : 'disabled' %}
                {% set checked = (isGlobalInvoiceCustomer | default is same as(true)) ? 'checked' : '' %}
                <input class="form-check-input"
                       type="checkbox"
                       id="globalInvoice"
                       name="globalinvoice" {{ disabled }} {{ checked }}>
                <label class="form-check-label" for="globalInvoice">
                    Factura global
                </label>
            </div>
        </div>
    </div>

    {% set pagado = (fsc.factura.pagada) ? 'true' : 'false' %}
    {% if not fsc.factura.pagada %}
        <div class="card-footer text-white bg-danger">
            Factura no pagada
        </div>
    {% endif %}
</div>
