{#
/**
 *  This file is part of EasyPOS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'Master/MenuTemplate.html.twig' %}
{% import 'Macro/Form.html.twig' as form %}
{% block bodyHeaderOptions %}
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col">
                <div class="btn-group bg-white">
                    <a class="btn btn-sm btn-outline-secondary" href="{{ fsc.url() }}" title="Recargar">
                        <i class="fas fa-redo" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" href="{{ asset('ListCfdiCliente') }}" title="Todos">
                        <i class="fas fa-list" aria-hidden="true"></i>&nbsp;Todos
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" href="{{ fsc.factura.url() }}" title="Factura">
                        <i class="fas fa-arrow-left" aria-hidden="true"></i>&nbsp;Factura
                    </a>
                    <form method="post">
                        <button type="submit" name="action" value="download-xml" class="btn btn-sm btn-primary ml-1">
                            <i class="fas fa-download" aria-hidden="true"></i>&nbsp;XML</button>
                        <button type="submit" name="action" value="download-pdf" class="btn btn-sm btn-primary">
                            <i class="fas fa-file-pdf" aria-hidden="true"></i>&nbsp;PDF</button>
                        <button type="submit" name="action" value="enviar-email" class="btn btn-sm btn-success">
                            <i class="fas fa-envelope fa-fw"></i>&nbsp;Enviar</button>
                    </form>
                </div>
            </div>
            <div class="col text-right">
                <h1 class="h3">
                    <strong>UUID:</strong>&nbsp;{{ fsc.cfdi.uuid }}
                    <i class="fas fa-file-invoice fa-fw" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card-deck mb-3">
            <div class="card">
                <div class="card-header">Cliente</div>
                <div class="card-body">
                    <div class="form-group">
                        {{ form.inputtext('usocfdi', 'Uso CFDI', fsc.reader.receptorUsoCfdi(), 'disabled') }}
                    </div>
                    <div class="form-group">
                        {{ form.inputtext('razonsocial', 'Razón social', fsc.factura.nombrecliente, 'disabled') }}
                    </div>
                    <div class="form-group">
                        {{ form.inputtext('rfc', 'RFC', fsc.reader.receptorRfc(), 'disabled') }}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Factura</div>
                <div class="card-body">
                    <div class="form-group">
                        {% set lugarexpedicion = fsc.empresa.ciudad %}
                        {{ form.inputtext('lugerexpedicion', 'Lugar de expedición', lugarexpedicion, 'disabled') }}
                    </div>
                    <div class="form-group">
                        {{ form.inputtext('fechaemision', 'Fecha', fsc.factura.fecha, 'disabled') }}
                        <small>Factura enviada el: {{ fsc.factura.femail }}</small>
                    </div>
                    <div class="form-row">

                    </div>
                    {% if fsc.isFacturaEgreso() %}
                        <div class="table-responsive">
                            {{ _self.drawTablaRelacionados(fsc) }}
                        </div>
                    {% endif %}
                </div>
                <form action="" method="post">
                    <div class="card-footer text-white text-right">
                        <form method="post">
                            <button type="submit" name="action" value="cancelar" class="btn btn-danger">
                                <i class="fas fa-skull" aria-hidden="true"></i>&nbsp;Cancelar</button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Conceptos</div>
            <div class="card-body">
                {{ dump(fsc.reader.cfdiRelacionado()) }}
                <div class="table-responsive">
                    {{ _self.drawTablaConceptos(fsc.reader.conceptos(), fsc) }}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">SAT</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col">
                        <div class="d-flex pb-2">
                            <div class="flex-fill">
                                <span><strong>NoCertificadoSAT:</strong></span>
                                {{ fsc.reader.certificadoSAT() }}
                            </div>
                            <div class="flex-fill">
                                <span><strong>RfcProvCertif:</strong></span>
                                {{ fsc.reader.proveedorCertificacion() }}
                            </div>
                            <div class="flex-fill">
                                <span><strong>FechaTimbrado:</strong></span>
                                {{ fsc.reader.fechaTimbrado() }}
                            </div>
                        </div>
                        <span><strong>Sello CFD</strong></span>
                        <p>{{ fsc.reader.selloCfd() }}</p>
                        <span><strong>Sello SAT</strong></span>
                        <p>{{ fsc.reader.selloSat() }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="xmlModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pre CFDI</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
                        {{- fsc.cfdi.getXml() -}}
                    </pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%- macro drawTablaConceptos(conceptos, fsc) %}
    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">Cantidad</th>
            <th scope="col">No. identificacion</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Clave SAT</th>
            <th scope="col">Clave UM</th>
            <th scope="col">Precio</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for concepto in conceptos %}
            <tr>
                <td>{{ concepto.cantidad }}</td>
                <td>{{ concepto.noidentificacion }}</td>
                <td>{{ concepto.descripcion }}</td>
                <td>{{ concepto.ClaveProdServ }}</td>
                <td>{{ concepto.claveunidad }}</td>
                <td>{{ concepto.valorunitario }}</td>
                <td>{{ concepto.importe }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro -%}
{%- macro drawTablaRelacionados(fsc) %}
    <table class="table table-borderless table-hover">
        <thead>
        <tr>
            <th scope="col">Factura</th>
            <th scope="col">UUID</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for relacionado in fsc.getCfdisRelacionados() %}
            <tr>
                <td>{{ relacionado.razonreceptor }}</td>
                <td><a href="{{ relacionado.url() }}">{{ relacionado.uuid }}</a></td>
                <td>{{ relacionado.total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro -%}



