{#
/**
 *  This file is part of FacturacionMexico plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'Master/MenuTemplate.html.twig' %}
{% import 'Macro/Form.html.twig' as form %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('Plugins/FacturacionMexico/vendor/techlab/smartwizard/dist/css/smart_wizard_all.css') }}">
{% endblock %}
{% block bodyHeaderOptions %}
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col">
                <div class="btn-group">
                    <a class="btn btn-sm btn-dark" href="" title="Recargar">
                        <i class="fas fa-redo" aria-hidden="true"></i>
                    </a>
                </div>
                {# <a class="btn btn-sm btn-warning" data-toggle="modal" data-target="#cfdiInputModal">
                    <i class="fas fa-code" aria-hidden="true"></i>&nbsp;Cargar XML
                </a> #}
                <button type="button" class="btn btn-sm btn-warning" id="readCfdiBtn">
                    <i class="fas fa-code"></i> Cargar XML
                </button>
            </div>
            <div class="col text-right">
                <h1 class="h3">
                    Importar CFDI
                    <i class="fas fa-file-invoice fa-fw" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <style>
        .wizard-pills .nav-link {
            background-color: #e9ecef; /* light gray */
            color: #495057;
            margin-right: 4px; /* Pequeño gap */
        }

        .wizard-pills .nav-item:last-child .nav-link {
            margin-right: 0;
        }

        .wizard-pills .nav-link.active {
            background-color: #007bff;
            color: #fff;
            font-weight: bold;
            position: relative;
        }
    </style>
    <div class="container-fluid">
        <form id="formCfdiWizard" name="formCfdiWizard" action="{{ fsc.url() }}" method="post">
            <input type="hidden" value="import-supplier-cfdi" name="action">
            <input type="hidden" value="{{ fsc.reader.serie }}{{ fsc.reader.folio }}" name="numproveedor">

            <ul class="nav nav-pills nav-justified mb-3 wizard-pills" id="wizardTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="step1-tab" data-toggle="tab" href="#step1" role="tab">1.
                        Generales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="step2-tab" data-toggle="tab" href="#step2" role="tab">2. Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="step3-tab" data-toggle="tab" href="#step3" role="tab">3. Confirmación</a>
                </li>
            </ul>

            <div class="tab-content" id="wizardContent">
                <div class="tab-pane fade show active" id="step1" role="tabpanel">
                    {{ include('Block/CfdiProveedorImport-1.html.twig') }}
                </div>
                <div class="tab-pane fade" id="step2" role="tabpanel">
                    {{ include('Block/CfdiProveedorImport-2.html.twig') }}
                </div>
                <div class="tab-pane fade" id="step3" role="tabpanel">
                    {{ include('Block/CfdiProveedorImport-3.html.twig') }}
                </div>
            </div>

            <div class="mt-3">
                <button type="button" class="btn btn-secondary" id="prevBtn">Anterior</button>
                <button type="button" class="btn btn-primary" id="nextBtn">Siguiente</button>
                <button type="button" class="btn btn-success d-none" id="wizardSubmitBtn" data-label="Importar">
                    Importar
                </button>
            </div>
        </form>
    </div>
    <div class="modal fade" id="cfdiInputModal" tabindex="-1" role="dialog" aria-labelledby="cfdiInputModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cfdiInputModalLabel">Seleccionar CFDI</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" enctype="multipart/form-data" id="xmlFileUploadForm" action="{{ fsc.url() }}">
                    <input type="hidden" name="action" value="read-cfdi"/>
                    <div class="modal-body">
                        <div class="form-group">
                            {{ form.inputfile('xmlFile', 'xmlfile', '', '.xml', '') }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Cargar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar acción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="confirmModalMessage">
                    <!-- Mensaje dinámico -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-warning" id="confirmModalOk">Continuar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="vincularModal" tabindex="-1" role="dialog" aria-labelledby="vincularModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Vincular producto <span class="text-muted" id="tablaProductosCode"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" id="buscarProductoInput" class="form-control mb-2"
                           placeholder="Buscar producto por SKU o descripción">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="tablaProductos">
                            <thead>
                            <tr>
                                <th>SKU</th>
                                <th>Descripción</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- JS rellenará las filas -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="{{ asset('Plugins/FacturacionMexico/Assets/JS/SupplierCfdiWizard.js') }}"></script>
{% endblock %}





