{#
/**
 *  This file is part of EasyPOS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'Master/MenuTemplate.html.twig' %}
{% import 'Macro/Form.html.twig' as form %}
{% block bodyHeaderOptions %}
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col">
                <div class="btn-group mb-2 mb-md-0">
                    <a class="btn btn-sm btn-dark" href="{{ fsc.url() }}" title="Recargar">
                        <i class="fas fa-redo" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-sm btn-secondary" href="{{ asset('ListCfdiCliente') }}" title="Todos">
                        <i class="fas fa-list" aria-hidden="true"></i>&nbsp;Todos
                    </a>
                    <a class="btn btn-sm btn-info" href="{{ fsc.factura.url() }}" title="{{ fsc.factura.codigo }}">
                        <i class="fas fa-file-invoice" aria-hidden="true"></i>
                        {{ fsc.factura.codigo }}
                    </a>

                    <a class="btn btn-sm btn-warning" href="{{ fsc.url() }}" title="Pendientes}" data-toggle="modal"
                       data-target="#pendientesTimbradoModal">
                        <i class="fas fa-hourglass-half" aria-hidden="true"></i>
                        Pendientes
                    </a>
                </div>

                <div class="dropdown d-inline-block">
                    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-expanded="false">Exportar
                    </button>
                    <div class="dropdown-menu">
                        <a href="{{ fsc.url() }}&amp;action=download-pdf" target="_blank" class="dropdown-item">
                            <i class="fas fa-file-pdf fa-fw" aria-hidden="true"></i>&nbsp;Archivo PDF
                        </a>
                        <a href="{{ fsc.url() }}&amp;action=download-xml" class="dropdown-item">
                            <i class="fas fa-download fa-fw" aria-hidden="true"></i>&nbsp;Archivo XML
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ fsc.url() }}&amp;action=enviar-email" class="dropdown-item">
                            <i class="fas fa-envelope fa-fw"></i>&nbsp;Email
                        </a>
                    </div>
                </div>

                <div class="dropdown d-inline-block">
                    <button class="btn btn-sm btn-warning dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-expanded="false">PAC
                    </button>
                    <div class="dropdown-menu">
                        <a href="{{ fsc.url() }}&amp;action=status"
                           class="dropdown-item">
                            <i class="fas fa-info-circle fa-fw"></i>&nbsp;Consultar Estado
                        </a>
                        <div class="dropdown-divider"></div>
                        <form id="cancelarCfdiForm" method="post">
                            <input type="hidden" name="action" value="cancelar">
                            <button type="submit" class="dropdown-item text-danger">
                                <i class="fas fa-skull fa-fw" aria-hidden="true"></i>&nbsp;Cancelar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col text-right">
                <h1 class="h3">
                    <strong>UUID:</strong>&nbsp;{{ fsc.cfdi.uuid }}
                    <i class="fas fa-file-invoice fa-fw" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if 'Cancelado' == fsc.cfdi.estado %}
            <div class="alert alert-danger" role="alert">
                <strong>Cancelado</strong>
            </div>
        {% endif %}
        {% if fsc.cfdi.fechaemail is null %}
            <div class="alert alert-info" role="alert">
                Aun no se ha enviado el email.
            </div>
        {% endif %}
        <div class="card-deck mb-3">
            <div class="card">
                <div class="card-header">Cliente</div>
                <div class="card-body">
                    <div class="form-group">
                        {{ form.inputtext('usocfdi', 'Uso CFDI', fsc.reader.receptorUsoCfdi(), 'disabled') }}
                    </div>
                    <div class="form-group">
                        {{ form.inputtext('razonsocial', 'Razón social', fsc.factura.nombrecliente, 'disabled') }}
                    </div>
                    <div class="form-group">
                        {{ form.inputtext('rfc', 'RFC', fsc.reader.receptorRfc(), 'disabled') }}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Factura</div>
                <div class="card-body">
                    <div class="form-group">
                        {% set lugarexpedicion = fsc.empresa.ciudad %}
                        {{ form.inputtext('lugerexpedicion', 'Lugar de expedición', lugarexpedicion, 'disabled') }}
                    </div>
                    <div class="form-group">
                        {{ form.inputtext('fechaemision', 'Fecha', fsc.factura.fecha, 'disabled') }}
                        <small>Factura enviada el: {{ fsc.factura.femail }}</small>
                    </div>
                </div>
            </div>
        </div>
        {{ _self.blockCfdiRelacionados(fsc.reader.cfdiRelacionados(), fsc) }}
        {{ _self.blockCfdiConceptos(fsc.reader.conceptos(), fsc) }}
        <div class="card mb-3">
            <div class="card-header">Totales</div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Subtotal:</th>
                        <th scope="col">Descuento:</th>
                        <th scope="col">Impuesto:</th>
                        <th scope="col">Total:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-right">{{ fsc.factura.neto }}</td>
                        <td class="text-right">0</td>
                        <td class="text-right">{{ fsc.factura.totaliva }}</td>
                        <td class="text-right">{{ fsc.cfdi.total }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">SAT</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col">
                        <div class="d-flex pb-2">
                            <div class="flex-fill">
                                <span><strong>NoCertificadoSAT:</strong></span>
                                {{ fsc.reader.certificadoSAT() }}
                            </div>
                            <div class="flex-fill">
                                <span><strong>RfcProvCertif:</strong></span>
                                {{ fsc.reader.proveedorCertificacion() }}
                            </div>
                            <div class="flex-fill">
                                <span><strong>FechaTimbrado:</strong></span>
                                {{ fsc.reader.fechaTimbrado() }}
                            </div>
                        </div>
                        <span><strong>Sello CFD</strong></span>
                        <p>{{ fsc.reader.selloCfd() }}</p>
                        <span><strong>Sello SAT</strong></span>
                        <p>{{ fsc.reader.selloSat() }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'Modal/CfdiModals.html.twig' %}
    <script>
        $(document).ready(function () {
            $('#cancelarCfdiForm').submit(function (e) {
                var currentForm = this;
                var message = 'Esta a punto de cancelar este CFDI. ¿Está seguro de que desea continuar?';

                e.preventDefault();
                bootbox.confirm({
                    title: 'Confirmar',
                    message: message,
                    closeButton: false,
                    buttons: {
                        cancel: {
                            label: '<i class="fas fa-times"></i> Cancelar'
                        },
                        confirm: {
                            label: '<i class="fas fa-check"></i> Continuar',
                            className: "btn-warning"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            currentForm.submit();
                        }
                    }
                });
            });
        })
    </script>
{% endblock %}

{%- macro blockCfdiConceptos(conceptos, fsc) %}
    <div class="card mb-3">
        <div class="card-header">Conceptos</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Cantidad</th>
                        <th scope="col">No. identificacion</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Clave SAT</th>
                        <th scope="col">Clave UM</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for concepto in conceptos %}
                        <tr>
                            <td>{{ concepto.cantidad }}</td>
                            <td>{{ concepto.noidentificacion }}</td>
                            <td>{{ concepto.descripcion }}</td>
                            <td>{{ concepto.ClaveProdServ }}</td>
                            <td>{{ concepto.claveunidad }}</td>
                            <td>{{ concepto.valorunitario }}</td>
                            <td>{{ concepto.importe }}</td>
                        </tr>
                        {% for traslado in fsc.reader.conceptosTraslados(concepto) %}
                            <tr>
                                <td colspan="3" class="text-right">Impuesto: {{ traslado.impuesto }}</td>
                                <td colspan="2" class="text-right">Tasa: {{ traslado.tasa }}</td>
                                <td colspan="2" class="text-right">Importe: {{ traslado.importe }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endmacro -%}

{% macro blockCfdiRelacionados(relacion, fsc) %}
    {%- if relacion.relacionados %}
        <div class="card mb-3">
            <div class="card-header">Facturas relacionadas</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-12">
                        <strong>Tipo de
                            relacion:</strong> {{ fsc.getCatalogoSat().tipoRelacion().getDescripcion(relacion.tiporelacion) }}
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">UUID</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for relacionado in relacion.relacionados %}
                            {% set cfdi = fsc.loadCfdiFromUUID(relacionado) %}
                            <tr>
                                <td>{{ cfdi.razonreceptor }}</td>
                                <td><a href="{{ cfdi.url() }}">{{ cfdi.uuid }}</a></td>
                                <td>{{ cfdi.total }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif -%}
{% endmacro %}





