{#
/**
 *  This file is part of FacturacionMexico plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% import 'Macro/Form.html.twig' as form %}
<div class="card mb-3">
    <div class="card-header">
        <a data-toggle="collapse" href="#cfdiRelacionadoForm" class="d-block text-decoration-none">
            <i class="fas fw fa-plus-circle"></i> Agregar CFDI's Relacionados.
        </a>
    </div>
    <div id="cfdiRelacionadoForm" class="collapse">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    {{ form.inputselect('tiporelacion', 'tiporelacion', 'Tipo de relación',
                        fsc.getCatalogoSat().tipoRelacion().all(), '01') }}
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="uuidrelacionado">Folio fiscal</label>
                    <div class="input-group">
                        <input type="text" id="uuidrelacionado" class="form-control" placeholder="UUID">
                        <div class="input-group-append">
                            <button type="button" id="addCfdiRelacionBtn" class="btn btn-warning">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">CFDI's Relacionados </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Receptor</th>
                    <th scope="col">UUID</th>
                    <th scope="col">Total</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Accion</th>
                </tr>
                </thead>
                <tbody id="tablaRelacionados">
                {% for relacionado in fsc.getCfdisRelacionados() %}
                    <tr>
                        <td>{{ relacionado.razonreceptor }}</td>
                        <td><input type="hidden" name="relacionados[]" value="{{ relacionado.uuid }}">
                            {{ relacionado.uuid }}</td>
                        <td>{{ relacionado.total }}</td>
                        <td>{{ relacionado.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
