{#
/**
 *  This file is part of FacturacionMexico plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'Master/MenuTemplate.html.twig' %}
{% import 'Macro/Form.html.twig' as form %}
{% block bodyHeaderOptions %}
    {% set pageData = fsc.getPageData() %}
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col-1">
                <div class="btn-group">
                    <a class="btn btn-sm btn-secondary" href="{{ fsc.url() }}" title="{{ i18n.trans('refresh') }}">
                        <i class="fas fa-redo" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-11 text-right">
                <h1 class="h4">
                    {{ fsc.title }}
                    <i class="{{ pageData.icon }} fa-fw" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="nav flex-column nav-pills">
                    <a class="nav-link active show" data-toggle="pill" href="#general">
                        <i class="fas fa-building fa-fw"></i> General</a>
                    <a class="nav-link" data-toggle="pill" href="#satcredentials">
                        <i class="fas fa-file-contract fa-fw"></i> SAT</a>
                    <a class="nav-link" data-toggle="pill" href="#wscredentials">
                        <i class="fas fa-file-contract fa-fw"></i> PAC</a>
                    <a class="nav-link" data-toggle="pill" href="#libfiles">
                        <i class="fas fa-cloud-download-alt fa-fw"></i> Archivos</a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane container-fluid active" id="general">
                                <form action="{{ fsc.url() }}" autocomplete="off" method="post">
                                    <input type="hidden" name="action" value='save-cfdi-settings'>
                                    {% set defaultRegimen = settings('cfdi','regimen') %}
                                    <div class="form-group row">
                                        {{ form.inputselect('regimenFiscal', 'regimenfiscal', 'Régimen Fiscal',
                                            fsc.getCatalogoSat().regimenFiscal().all(), defaultRegimen) }}
                                    </div>
                                    {% set defaultUso = settings('cfdi','uso') %}
                                    <div class="form-group row mb-4">
                                        {{ form.inputselect('usoCfdi', 'usocfdi', 'Uso CFDI',
                                            fsc.getCatalogoSat().usoCfdi.all(), defaultUso) }}
                                    </div>
                                    {% set estadoFactura = settings('cfdi','stamped-status') %}
                                    <div class="form-group row mb-4">
                                        <label for="estadoFacturaTimbrado">Estado Factura Cfdi Timbrado</label>
                                        <select id="estadoFacturaTimbrado" name="estadotimbrada" class="form-control"
                                                required>
                                            <option value="">----</option>
                                            {% for item in fsc.getInvoiceStatus() %}
                                                <option value="{{ item.idestado }}" {% if estadoFactura == item.idestado %} selected {% endif %}>
                                                    {{ item.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% set estadoFactura = settings('cfdi','canceled-status') %}
                                    <div class="form-group row mb-4">
                                        <label for="estadoFacturaCancelada">Estado Factura Cfdi Cancelado</label>
                                        <select id="estadoFacturaCancelada" name="estadocancelada" class="form-control">
                                            <option value="">----</option>
                                            {% for item in fsc.getInvoiceStatus() %}
                                                <option value="{{ item.idestado }}" {% if estadoFactura == item.idestado %} selected {% endif %}>
                                                    {{ item.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row">
                                        <button type="submit" class="btn btn-primary ml-auto">Guardar</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane container-fluid" id="satcredentials">
                                <form action="{{ fsc.url() }}" autocomplete="off" enctype="multipart/form-data"
                                      method="post">
                                    <input type="hidden" name="action" value='save-sat-credentials'>
                                    <div class="row">
                                        <div class="alert alert-warning col" role="alert">
                                            <strong>¡Importante!</strong>
                                            <p>Es responsabilidad del administrador mantener segura tu instalacion,
                                                debido a la importancia de mantener segura tu llave privada.
                                                De igual forma puedes omitir esta informacion e ingresarla cada vez que
                                                envies un CFDI al PAC para su timbrado.</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        {% set text = settings('cfdi', 'cerfile', 'Certificado') %}
                                        {{ form.inputfile('cerFile', 'cerfile', text, '.cer', text) }}
                                    </div>
                                    <div class="form-group row">
                                        {% set text = settings('cfdi', 'keyfile', 'Llave privada') %}
                                        {{ form.inputfile('keyFile', 'keyfile', text, '.key') }}
                                    </div>
                                    <div class="form-group row">
                                        {% set text = settings('cfdi', 'passphrase', '') %}
                                        {{ form.inputpassword('certPassword', 'passphrase', 'Contraseña', text) }}
                                        <small class="form-text text-muted">Contraseña de la llave privada</small>
                                    </div>
                                    <div class="row">
                                        <button type="submit" class="btn btn-primary ml-auto">Guardar</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane container-fluid fade" id="wscredentials">
                                <div class="row"><small>** Solicite su informacion de acceso para poder utilizar el
                                        servicio de timbrado.</small></div>
                                <form action="{{ fsc.url() }}" autocomplete="off" method="post">
                                    <input type="hidden" name="action" value='save-stamp-settings'>
                                    <div class="form-group row">
                                        {% set text = settings('cfdi', 'stamp-user', '') %}
                                        {{ form.inputtext('stampuser', 'Usuario', text) }}
                                        <small class="form-text text-muted">Usuario servicio de timbrado</small>
                                    </div>
                                    <div class="form-group row">
                                        {% set text = settings('cfdi', 'stamp-token', '') %}
                                        {{ form.inputpassword('stamptoken', 'stamptoken', 'Token',text) }}
                                        <small class="form-text text-muted">Token de acceso al servicio</small>
                                    </div>
                                    <div class="form-group row">
                                        <div class="form-check">
                                            {% set checked = (settings('cfdi', 'test-mode') is same as(true)) ? ' checked' : '' %}
                                            <input class="form-check-input" type="checkbox" id="testMode"
                                                   name="testmode"{{ checked }}>
                                            <label class="form-check-label" for="testMode">Modo prueba</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button type="submit" class="btn btn-primary ml-auto">Guardar</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane container-fluid fade" id="libfiles">
                                <div class="row">
                                    <p>Almacen de recursos locales para agilizar el proceso de generacion de la cadena
                                        original.</p>
                                    {% set cacheExists = settings('cfdi', 'cachefiles', '0') %}
                                    {% if cacheExists == '1' %}
                                        <div class="col-12 alert alert-info" role="alert">
                                            Almacen local de archivos XSLT <i class="fas fa-check-circle"></i>
                                        </div>
                                    {% else %}
                                        <div class="col-12 alert alert-success" role="alert">
                                            Aun no se tiene la copia local de los archivos
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div id="spinnerbox" class="d-none">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-primary" role="status"></div>
                                        <div class="spinner-grow text-primary" role="status"></div>
                                    </div>
                                    <div id="downloadResponse" class="col alert" role="alert"></div>
                                </div>
                                <div class="row">
                                    <button type="submit" id="sourceDownloadBtn" class="btn btn-primary ml-auto">
                                        <i class="fas fa-arrow-alt-circle-down"></i>&nbsp;Descargar archivos
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.custom-file-input').on('change', function () {
            let fileName = $(this).val().split('\\').pop();
            let label = $(this).siblings('.custom-file-label');

            if (label.data('default-title') === undefined) {
                label.data('default-title', label.html());
            }
            if (fileName === '') {
                label.removeClass("selected").html(label.data('default-title'));
            } else {
                label.addClass("selected").html(fileName);
            }
        });
        $('#sourceDownloadBtn').on('click', function () {
            var msg = $('#downloadResponse');
            var sipnner = $('#spinnerbox');

            msg.hide();
            sipnner.removeClass('d-none');
            $.ajax({
                type: 'post',
                url: '{{ fsc.url() }}',
                dataType: 'text',
                data: {action: 'download-resources'},
                success: function (data, textStatus, jQxhr) {
                    console.log(data)
                    msg.html(data);
                    msg.addClass('alert-success');
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                    msg.html(errorThrown);
                    msg.addClass('alert-danger');
                },
                complete: function () {
                    sipnner.addClass('d-none');
                    msg.show();
                }
            });
        })
    </script>
{% endblock %}


