{#
/**
 *  This file is part of FacturacionMexico plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'Master/MenuTemplate.html.twig' %}
{% import 'Macro/Form.html.twig' as form %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('Plugins/FacturacionMexico/vendor/techlab/smartwizard/dist/css/smart_wizard_all.css') }}">
{% endblock %}
{% set rfcGenerico =  (fsc.factura.cifnif == 'XAXX010101000') ? true : false %}
{% block bodyHeaderOptions %}
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col">
                <div class="btn-group">
                    <a class="btn btn-sm btn-dark" href="" title="Recargar">
                        <i class="fas fa-redo" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-sm btn-info" href="{{ fsc.factura.url() }}" title="{{ fsc.factura.codigo }}">
                        <i class="fas fa-arrow-left" aria-hidden="true"></i>&nbsp;{{ fsc.factura.codigo }}
                    </a>
                </div>
                <a class="btn btn-sm btn-info" data-toggle="modal" data-target="#xmlModal">
                    <i class="fas fa-code" aria-hidden="true"></i>&nbsp;XML
                </a>
            </div>
            <div class="col text-right">
                <h1 class="h3">
                    Pre CFDI
                    <i class="fas fa-file-invoice fa-fw" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <form id="formNuevoCfdi" autocomplete="off" enctype="multipart/form-data" method="post">
        <input type="hidden" name="action" value='timbrar'>
        <input type="hidden" id="codcliente" name="codcliente" value='{{ fsc.factura.codcliente }}'>
        <input type="hidden" name="invoice" value='{{ fsc.factura.idfactura }}'>
        <div class="container-fluid">
            <div id="newcfdiwizard">
                <ul class="nav nav-progress">
                    <li class="nav-item">
                        <a class="nav-link" href="#step-1">
                            <div class="num">1</div>
                            Datos generales y Conceptos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link default done" href="#step-2">
                            <span class="num">2</span>
                            CFDIs Relacionados
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#step-3">
                            <span class="num">3</span>
                            Enviar al PAC
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="step-1" class="tab-pane" role="tabpanel">
                        {{ include('Cfdi-1.html.twig') }}
                    </div>
                    <div id="step-2" class="tab-pane" role="tabpanel">
                        {{ include('Cfdi-2.html.twig') }}
                    </div>
                    <div id="step-3" class="tab-pane" role="tabpanel">
                        {{ include('Cfdi-3.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade" id="xmlModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pre CFDI</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
                        {{- fsc.xml -}}
                    </pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('Plugins/FacturacionMexico/Assets/JS/FacturacionMexico.js') }}"></script>
    <script src="{{ asset('Plugins/FacturacionMexico/vendor/techlab/smartwizard/dist/js/jquery.smartWizard.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#newcfdiwizard').smartWizard({
                theme: 'arrows',
                autoAdjustHeight: false, // Automatically adjust content height
                justified: true, // Nav menu justification. true/false
                /*toolbar: {
                    extraHtml: `<button id="timbrarButton" class="btn btn-success">Timbrar CFDI</button>`
                },*/
                keyboardSettings: {
                    keyNavigation: false
                },
                lang: {
                    next: 'Siguiente',
                    previous: 'Anterior'
                },
            });

            /*$("#newcfdiwizard").on("showStep", function (e, anchorObject, stepIndex, stepDirection) {
                setTimeout(function () {
                    if ($('button.sw-btn-next').hasClass('disabled')) {
                        $('#timbrarButton').show(); // show the button extra only in the last page
                    } else {
                        $('#timbrarButton').hide();
                    }
                }, 50);

            });*/
        });
    </script>
{% endblock %}



